<a [routerLink]="['/product', product.id]"
  ><app-img
    *ngIf="product.images.length > 0"
    [img]="product.images[0]"
  ></app-img>
</a>
<h2>{{ product.price | currency : "Gs." }}</h2>
<p>{{ product.title }}</p>
<p *ngIf="product.taxes">Impuestos: {{ product.taxes | currency : "Gs." }}</p>
<!-- <button (click)="onShowDetail()">Ver detalle</button> -->
<button>
  <a routerLink="." [queryParams]="{ product: product.id }">Ver detalle</a>
</button>
<button (click)="onAddToCart()">Add cart</button>
